In [1]:
#https://towardsdatascience.com/20-points-to-master-pandas-time-series-analysis-f90155ee0e8a
import pandas as pd
pd.to_datetime('2020-9-13')

Timestamp('2020-09-13 00:00:00')

In [2]:
pd.Timestamp('2020-9-13')

Timestamp('2020-09-13 00:00:00')

In [5]:
a = pd.Timestamp('2020-9-13')
a.day_name()

'Sunday'

In [6]:
a.month_name()

'September'

In [7]:
[a.day,a.month,a.year]

[13, 9, 2020]

In [8]:
b = pd.Timestamp('2020-9-30')
[b.is_month_end, b.is_leap_year, b.is_quarter_start, b.weekofyear]

[True, True, False, 40]

In [14]:
data = [[2020, 4, 13], [2020, 5, 16], [2020, 8, 20]]
df = pd.DataFrame(data,columns=['Year', 'Month', 'Day'])
df

   Year  Month  Day
0  2020      4   13
1  2020      5   16
2  2020      8   20

In [15]:
pd.to_datetime(df)

0   2020-04-13
1   2020-05-16
2   2020-08-20
dtype: datetime64[ns]

In [16]:
pd.to_datetime(['2020-09-13', '2020-08-12', '2020-08-04', '2020-09-05'])

DatetimeIndex(['2020-09-13', '2020-08-12', '2020-08-04', '2020-09-05'], dtype='datetime64[ns]', freq=None)

In [17]:
pd.date_range(start='2020-01-10', periods=10, freq='M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

In [18]:
pd.date_range(start='2020-01-10', periods=10, freq='6D')

DatetimeIndex(['2020-01-10', '2020-01-16', '2020-01-22', '2020-01-28',
               '2020-02-03', '2020-02-09', '2020-02-15', '2020-02-21',
               '2020-02-27', '2020-03-04'],
              dtype='datetime64[ns]', freq='6D')

In [19]:
pd.period_range('2018', periods=10, freq='M')

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10'],
            dtype='period[M]')

In [20]:
pd.timedelta_range(start='0', periods=24, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [21]:
dates = pd.date_range('2019-01-01','2019-01-10')
dates.tz is None

True

In [23]:
dates_lcz = dates.tz_localize('Europe/Berlin')
dates_lcz.tz

In [24]:
pd.date_range('2020-01-01', periods = 5, freq = 'D', tz='US/Eastern')

DatetimeIndex(['2020-01-01 00:00:00-05:00', '2020-01-02 00:00:00-05:00',
               '2020-01-03 00:00:00-05:00', '2020-01-04 00:00:00-05:00',
               '2020-01-05 00:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [25]:
A = pd.date_range('2020-01-01', periods=10, freq='D')
A

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [26]:
A + pd.offsets.Week()

DatetimeIndex(['2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17'],
              dtype='datetime64[ns]', freq=None)